.homepage {
  height: calc(100vh - 2rem);
  background-image: linear-gradient(
      rgba(0, 255, 255, 0.5),
      rgba(255, 255, 255, 0.3)
    ),
    url("../assets/image/4.webp");
  background-size: cover;
  background-position: center;
}
.homepage section {
  display: flex;
  flex-direction: column;
  height: 90%;
  align-items: center;
  /* justify-content: center; */
  text-align: center;
}
.homepage h1 {
  font-size: 3rem;
  color: white;
}
.homepage h2 {
  width: 90%;
  font-size: 1.5rem;
  color: white;
}
.btn {
  font-size: 2rem;
  font-weight: bold;
  border-radius: 2rem;
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
  color: rgba(255, 255, 255);
  padding: 5px 20px;
  background-color: green;
}
